.main-container {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.status-bar,
.navigation {
  padding: 1rem;
}

.status-bar {
  background-color: $app-color--medium-grey;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.navigation {
  border-radius: 0.5rem;
  margin: 0.5rem 1rem;

  & .icon-box:not(:last-child) {
    border: 1px solid blue;
  }
}
