*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px(default font size) = 62.5% -> 1rem=10px
}

body {
  font-family: "Ubuntu", sans-serif;
  color: $color-primary--dark-grey;
  font-weight: 300;
  line-height: 1.6;
}
