.margin-right-xs {
  margin-right: 0.5rem;
}
.margin-right-s {
  margin-right: 1rem;
}
.margin-right-m {
  margin-right: 1.2rem;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
