body {
  font-size: 1.6rem;
}

header {
  padding: 2rem;
}

.main-title {
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  max-width: 20rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.income {
  background-color: greenyellow;
}

.outcome {
  background-color: red;
}

.precentage {
  color: white;
  font-size: 1.1rem;
}
